/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
}

/* En-tête et navigation */
.banner-header {
  background-image: url("../images/banniere.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

nav {
  display: flex;
  justify-content: center; /* Centre les éléments à l'intérieur de la barre de navigation */
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  flex-wrap: wrap; /* Permet de passer sur plusieurs lignes si nécessaire */
  border-radius: 100px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Permet de passer sur plusieurs lignes si nécessaire */
  justify-content: center;
}

nav ul li {
  margin: 0.5rem;
}

nav ul li a {
  color: #ffeb3b; /* Couleur des liens en jaune */
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: color 0.3s; /* Transition seulement sur la couleur du texte */
}

nav ul li a:hover {
  color: white; /* Couleur blanche au survol */
}

/* Styles pour le contenu de la bannière */
.banner-content {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Couleur de fond semi-transparente pour améliorer la lisibilité du texte */
  border-radius: 50%;
}

.banner-content h1 {
  margin: 0;
  font-size: 3rem;
  color: #ffeb3b; /* Titre en jaune */
}

.banner-content p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* Styles pour les sections */
section {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #fff;
  color: black; /* Texte en noir pour contraste */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

section h2 {
  margin-top: 0;
  font-size: 2rem;
  color: #ffeb3b; /* Titres en jaune */
}

/* Styles pour les habitats */
#habitats {
  padding: 2rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#habitats h2 {
  margin-top: 0;
  font-size: 2rem;
  color: #ffeb3b; /* Titres en jaune */
}

.habitats-container {
  display: flex;
  justify-content: center; /* Espacement égal entre les éléments */
  flex-wrap: wrap; /* Permet de passer sur plusieurs lignes si nécessaire */
}

.habitat {
  flex: 0 0 calc(33.33% - 1rem); /* Chaque habitat occupe 1/3 de la largeur moins un espacement */
  margin: 0.5rem;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.habitat img {
  width: 100%; /* Image responsive à 100% de la largeur du contenant */
  height: auto;
  border-radius: 50%; /* Bordure arrondie à 50% pour former un cercle */
}

.habitat h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #4caf50; /* Noms des habitats en vert */
}

.habitat p {
  margin-bottom: 0;
  color: black;
}

/* Styles pour les cartes (animaux et activités) */
.card {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%; /* Image adaptative à la largeur du conteneur */
  height: auto; /* Hauteur automatique pour préserver le ratio */
  border-radius: 50%; /* Bordure arrondie à 50% pour former un cercle */
  border: 3px solid #000; /* Cadre noir */
}

.card h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #4caf50; /* Noms des animaux et services en vert */
}

.card p {
  margin-bottom: 0;
  color: black;
}

/* Styles pour la grille des avis */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.avis {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.avis p {
  margin: 0;
}

.auteur {
  font-style: italic;
  color: #333;
}

/* Styles pour le formulaire d'avis */
#laissez-un-avis {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#laissez-un-avis h2 {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
}

#avisForm {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap; /* Permet de passer sur plusieurs lignes si nécessaire */
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  resize: vertical; /* Permet à la zone de texte d'être redimensionnée verticalement */
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Styles pour le pied de page */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
}

/* Styles pour les horaires d'ouverture */
.horaires {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Styles pour le copyright */
.copyright {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .banner-content h1 {
    font-size: 2.5rem;
  }

  .banner-content p {
    font-size: 1.2rem;
  }

  nav ul li {
    margin: 0.2rem;
  }

  .habitat {
    flex: 0 0 calc(50% - 1rem); /* Chaque habitat occupe 1/2 de la largeur moins un espacement */
  }
}

@media (max-width: 480px) {
  .banner-content h1 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 1rem;
  }

  .habitat {
    flex: 0 0 calc(100% - 1rem); /* Chaque habitat occupe 100% de la largeur moins un espacement */
  }
}
